@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

input {
  color-scheme: dark;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #222222;
}

.rdp:not([dir='rtl']) .rdp-day_range_start:not(.rdp-day_range_end) {
  background-color: #94be4b;
}

.rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover {
  background-color: #94be4b;
}